<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card mb-5 mt-5">
        <div class="card-header text-center-bold"><h2>Alumno</h2></div>
        <div class="card-body">
          <form [formGroup]="formAlumno" (ngSubmit)="onSubmit()" novalidate>

            <div class="form-row">
              <div class="form-group col">
                <label for="nombre">Nombre</label>
                <div>
                  <input class="form-control" 
                        type="text"  
                        formControlName="nombre"
                        [class.is-invalid]="nombreInvalido">
                  <small *ngIf="nombreInvalido" class="text-danger">
                          Debe ingresar un nombre. 
                  </small>
                </div>                
              </div>

              <div class="form-group col">
                <label for="apellido">Apellido</label>
                <div>
                  <input class="form-control" 
                        type="text"  
                        formControlName="apellido"
                        [class.is-invalid]="apellidoInvalido">
                  <small *ngIf="apellidoInvalido" class="text-danger">
                          Debe ingresar un apellido. 
                  </small>
                </div>                
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col">
                <label for="dni">D.N.I</label>
                <div>
                  <input class="form-control" 
                        type="text"  
                        formControlName="dni"
                        [class.is-invalid]="dniInvalido">
                  <small *ngIf="dniInvalido" class="text-danger">
                          Debe ingresar un dni, sin puntos. 
                  </small>
                </div>                
              </div>

              <div class="form-group col">
                <label for="fecnac">Fecha de Nacimiento</label>
                <div>
                  <input class="form-control" 
                        type="date"  
                        formControlName="fecnac"
                        [class.is-invalid]="fechaNovalida">
                <small *ngIf="fechaNovalida" class="text-danger">Debe seleccionar una fecha.</small>
                </div>                
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col">
                <label for="telefono">Teléfono</label>
                <div>
                  <input class="form-control" 
                        type="text"  
                        formControlName="telefono"
                        [class.is-invalid]="telInvalido">
                <small *ngIf="telInvalido" class="text-danger">Debe ingresar un N° de Teléfono.</small>
                </div>                
              </div>

              <div class="form-group col">
                <label for="email">Email</label>
                <div>
                  <input class="form-control" 
                        type="email"  
                        formControlName="email"
                        [class.is-invalid]="emailNoValido">
                <small *ngIf="emailNoValido" class="text-danger">Debe ingresar un email válido.</small>
                </div>                
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col">
                <label for="localidad">Localidad</label>
                <div>
                  <input class="form-control" 
                        type="text"  
                        formControlName="localidad"
                        [class.is-invalid]="locNoValida">
                  <small *ngIf="locNoValida" class="text-danger">
                          Debe ingresar una Localidad. 
                  </small>
                </div>                
              </div>

              <div class="form-group col">
                <label for="dpto">Departamento</label>
                <div>
                  <input class="form-control" 
                        type="text"  
                        formControlName="dpto"
                        [class.is-invalid]="dptoNoValida">
                  <small *ngIf="dptoNoValida" class="text-danger">
                          Debe ingresar un Departamento. 
                  </small>
                </div>                
              </div>
              <div class="form-group col">
                <label for="nacionalidad">Nacionalidad</label>
                <div>
                  <input class="form-control" 
                        type="text"  
                        formControlName="nacionalidad"
                        [class.is-invalid]="nacNoValida">
                  <small *ngIf="nacNoValida" class="text-danger">
                          Debe ingresar una Nacionalidad. 
                  </small>
                </div>                
              </div>
            </div>

            <div class="form-group mt-4 d-flex justify-content-end">
              <button class="btn btn-primary" [disabled]="formAlumno.invalid">Siguiente</button>
            </div>
          </form>
        </div>
      </div>      
    </div>
  </div>
</div>
